# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
telco-customer-churn/data/raw/
telco-customer-churn/data/*.csv
telco-customer-churn/!data/processed/
Stroke Prediction Datase/data/raw/
Stroke Prediction Datase/data/*.csv
Stroke Prediction Datase/!data/processed/
Bank Customer Churn Dataset/data/raw/
Bank Customer Churn Dataset/data/*.csv
Bank Customer Churn Dataset/!data/processed/
data/raw/
data/*.csv
!data/processed/

# Models
models/

# OS
.DS_Store
Thumbs.db
